
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 /* outline: 1px solid green; */
}
.hero {
  /* border: 1px solid red; */
  min-height: 100vh;
  /* background-color: rgb(206, 232, 255); */
}
.hy {
  /* display:inline; */
  /* margin-top:4rem; */
  font-size: 3rem;
  font-weight: bold;
  /* min-height: fit-content; */
}
.firstelement {
  /* border: 1px solid red; */
  gap: 1.5rem;
  /* margin-left: 40px; */
}
.span1 {
  /* border: 1px solid red; */
  font-size: 4.8rem;
  color: orange;
  /* min-height: auto; */

  /* font-weight: 600; */
}
.click {
  border: 1px solid red;
  /* margin-left: 40px; */
}
.icon {
  /* border: 1px solid  red; */
  font-size: 2rem;
  color: orange;
  font-weight: bold;
  /* background-color:aliceblue; */
  /* border-radius: 8px; */
  /* height: 10rem; */
}
.icons {
  gap: 28px;
  font-size: 4rem;
  color:orange;
  margin-top:40px;
}
.i-right {
  /* flex: 1; */
  position: relative;
  /* min-height: 70vh; */
  /* width: 50%; */
  /* background-color: antiquewhite; */
}
/* .i-right > * {
  position: absolute;
  z-index: 1;
} */

.i-right .bar1{
  width: 15rem;
  height: 4.5rem;
  background-color: rgb(238, 255, 235);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  top: 55%;
  left: 8%;
  right: 0;
  z-index: 100;
}

.i-right .bar2{
  width: 15rem;
  height: 4.5rem;
  background-color: rgb(229, 255, 225);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  right: 5%;
  z-index: 1000;
  top: 10%;
}


.i-right .one {
  height: 25rem;
  position: absolute;
  left: 3rem;
  rotate: 7deg;
  top: 2rem;
  z-index: 1;
}
.i-right .two {
  height: 28rem;
  position: absolute;
  top: 2rem;
  left: 8rem;
  z-index: 2;
}
.i-right .three {
  height: 32rem;
  position: absolute;
  left: 11rem;
  z-index: 3;
  
}



@media screen and (max-width:1248px) {
  .i-right .one {
    height: 20rem;
    position: absolute;
    left: 3rem;
    rotate: 2deg;
    top: 7rem;
  }
  .i-right .two {
    height: 22rem;
    position: absolute;
    top: 7rem;
    left: 6rem;
  }
  .i-right .three {
    height: 29rem;
    position: absolute;
    left: 10rem;
    top:1rem;
  }
    

  .i-right .bar2{
    width: 12rem;
    right: 4%;
  }

  .i-right .bar1{
    top: 60%;
    left: 5%;
    /* width: 12rem; */
  }
}

  @media  (max-width:1200px) 
  {
  .bar2{
    border: 1px solid red;
    width: 10rem !important;
    height: 4.5rem;
    background-color: rgb(229, 255, 225);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left:92% !important;
    z-index: 1000;
    top: 14% !important;
  }
}  

    
@media screen and (max-width:1197px){
  .i-right .one {
    height: 18rem;
    position: absolute;
    left: 3rem;
    rotate: 7deg;
    top: 2rem;
  }
  .i-right .two {
    height: 20rem;
    position: absolute;
    top: 2rem;
    left: 6rem;
  }
  .i-right .three {
    height: 25rem;
    position: absolute;
    left: 10rem;
  }
  
  .i-right .bar2{
    top: 20%;
    right: 3%;
    width: 10rem;
  }

  .i-right .bar1{
    top: 62%;
    left: 9%;
    width: 12rem;
  }
.bar2{border: 1px solid red;
width: 6rem !important;}


}
@media screen and (max-width:1195px){
  .i-right .one {
    height: 18rem;
    position: absolute;
    left: 3rem;
    rotate: 2deg;
    top: 10rem;
  }
  .i-right .two {
    height: 20rem;
    position: absolute;
    top: 10rem;
    left: 6rem;
  }
  .i-right .three {
    height: 25rem;
    position: absolute;
    left: 9rem;
    top:5rem;
  }
  .bar2{
    border: 1px solid red;
    width: 9rem !important;
    height: 4.5rem;
    background-color: rgb(229, 255, 225);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left:80% !important;
    z-index: 1000;
    top: 22% !important;
  }
}
@media  (max-width:991px) {
  .bar2{
    border: 1px solid red;
    width: 9.7rem !important;
    height: 4.5rem;
    background-color: rgb(229, 255, 225);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left:98% !important;
    z-index: 1000;
    top: 20% !important;
  }
}
@media screen and (max-width:990px){
  .i-right .one {
    height: 20rem;
    position: absolute;
    left: 3rem;
    rotate: 2deg;
    top: 10rem;
  }
  .i-right .two {
    height: 23rem;
    position: absolute;
    top: 10rem;
    left: 6rem;
  }
  .i-right .three {
    height: 29rem;
    position: absolute;
    left: 9rem;
    top:5rem;
  }

  .my-5{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  

  .bar2{
    left: 20%;
    top: 20%;
  }

  .i-right .bar1{
    left: 15%;
    top: 67%;
  }
  .bar2{
    border: 1px solid red;
    width: 9rem !important;
    height: 4.5rem;
    background-color: rgb(229, 255, 225);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left:30% !important;
    z-index: 1000;
    top: 22% !important;
  }
}

@media screen and (max-width:767px) {
  .bar2{
    /* left: 20%; */
    left: 70%;
    top: 20%;
    width: 15rem;
  }

  .i-right{
    width: 100%;
    /* background-color: aqua; */
    min-height: 90vh;
  }

    .i-right .bar1{
      /* background-color: rgb(62, 78, 78); */
      top: 78%;
      left: 9%;
    }
    .i-right .bar1{
      width: 10rem;
      height: 4.5rem;
      background-color: rgb(238, 255, 235);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      top: 72%;
      left: 12%;
      right: 0;
      z-index: 100;
    }
    
    .i-right .bar2{
      width: 9rem !important;
      height: 4.5rem;
      background-color: rgb(229, 255, 225);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 10px;
      position: absolute;
      left: 70% !important;
      z-index: 1000;
      top: 22% !important;
    }
    
}
@media screen and (max-width:539px){
  .i-right .one {
    height: 18rem;
    position: absolute;
    left: 1rem;
    rotate: 2deg;
    top: 10rem;
  }
  .i-right .two {
    height: 20rem;
    position: absolute;
    top: 10rem;
    left: 4rem;
  }
  .i-right .three {
    height: 25rem;
    position: absolute;
    left: 6rem;
    top:5rem;
  }
}


@media screen and (max-width:454px){
  .i-right .one {
    height: 15rem;
    position: absolute;
    left: 3rem;
    rotate: 2deg;
    top: 10rem;
  }
  .i-right .two {
    height: 17rem;
    position: absolute;
    top: 10rem;
    left: 5rem;
  }
  .i-right .three {
    height: 22rem;
    position: absolute;
    left: 6rem;
    top:5rem;
  }

  .i-right .bar1{
    width: 8rem;
    height: 4.5rem;
    background-color: rgb(238, 255, 235);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    top: 58%;
    left: 8%;
    right: 0;
    z-index: 100;
  }
  
  .i-right .bar2{
    width: 7rem !important;
    height: 4.5rem;
    background-color: rgb(229, 255, 225);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 70% !important;
    font-size: 14px;
    z-index: 1000;
    top: 22% !important;
  }
}

@media (max-width:438px) {
  .i-right .bar1{
    width: 7rem;
    height: 4.5rem;
    background-color: rgb(238, 255, 235);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    top: 58%;
    left: 12%;
    right: 0;
    z-index: 100;
  }
  
  .i-right .bar2{
    width: 7rem !important;
    height: 4.5rem;
    background-color: rgb(229, 255, 225);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 75% !important;
    /* font-size: 12px; */
    z-index: 1000;
    top: 22% !important;
  }
}
@media screen and (max-width:397px){
  .i-right .one {
    height: 13rem;
    position: absolute;
    left: 2rem;
    rotate: 5deg;
    top: 8rem;
  }
  .i-right .two {
    height: 13rem;
    position: absolute;
    top: 8rem;
    left: 4rem;
  }
  .i-right .three {
    height: 15rem;
    position: absolute;
    left: 6rem;
    top:6rem;
  }
  .i-right{
    min-height: 60vh;
  }

  .i-right .bar1{
    width: 7rem;
    height: 3.5rem;
    background-color: rgb(238, 255, 235);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    font-size: 10px;
    top: 68%;
    left: 8%;
    right: 0;
    z-index: 100;
  }
  
  .i-right .bar2{
    width: 7rem !important;
    height: 3.5rem;
    background-color: rgb(229, 255, 225);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 68% !important;
    font-size: 10px;
    /* font-size: 12px; */
    z-index: 1000;
    top: 29% !important;
  }
}

@media (max-width:343px) {
  .bar1{width: 6.5rem !important;
    border: 1px solid red;
  height: 3rem !important;
  background-color: rgb(238, 255, 235);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  top: 62% !important;
  left: 4% !important;
  right: 0;
  z-index: 100;
}
  
}
@media screen and (max-width:340px){
  .i-right .one {
    height: 11rem;
    position: absolute;
    left: 1rem;
    rotate: 5deg;
    top: 8rem;
  }
  .span1{
    border: 1px solid red;
    font-size: 50px;
  }
  .hy{
    font-size: 36px;
  }
  .hometext{
    border: 1px solid red;
    font-size: 14px;
  }
  .i-right .two {
    height: 12rem;
    position: absolute;
    top: 8rem;
    left: 2rem;
  }
  .i-right .three {
    height: 13rem;
    position: absolute;
    left: 5rem;
    top:6rem;
  }

  .bar1{
    width: 6.5rem !important;
    border: 1px solid red;
  height: 3rem !important;
  background-color: rgb(238, 255, 235);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  top: 62% !important;
  left: 4% !important;
  right: 0;
  z-index: 100;
}
.bar2{
  border: 1px solid red;
  width: 6.5rem !important;
  height: 3rem !important;
}

  .i-right{
    min-height: 60vh;
  }
}
@media screen and (max-width:311px){
  .i-right .one {
    height: 10rem;
    position: absolute;
    left: 2rem;
    rotate: 5deg;
    top: 6rem;
  }
  .i-right .two {
    height: 11rem;
    position: absolute;
    top: 6rem;
    left: 4rem;
  }
  .i-right .three {
    height: 13rem;
    position: absolute;
    left: 6rem;
    top:4rem;
  }
  .bar1{
    width: 6.5rem !important;
    border: 1px solid red;
  height: 3rem !important;
  top: 54% !important;
  left: 4% !important;
  
}
.i-right .bar2{
  width: 5.5rem !important;
  height: 3rem !important;
  background-color: rgb(229, 255, 225);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  left: 78% !important;
  /* font-size: 12px; */
  z-index: 1000;
  top: 22% !important;
}

}
@media screen and (max-width:280px){
  .i-right .one {
    height: 8rem;
    position: absolute;
    left: 1rem;
    rotate: 4deg;
    top: 6rem;
  }
  .span1{
    font-size: 30px;
  }
  .hometext{
    font-size:12px ;
  }
  .icons {
    gap: 28px;
    font-size: 3rem;
    color:orange;
    margin-top:40px;
  }

  .i-right .two {
    height: 9rem;
    position: absolute;
    top: 6rem;
    left: 4rem;
  }
  .i-right .three {
    height: 10rem;
    position: absolute;
    left: 6rem;
    top:4rem;
  }
}
@media screen and (max-width:288px) {
  .bar1{
    width: 6rem !important;
    border: 1px solid red;
  height: 3rem !important;
  top: 54% !important;
  left: 6% !important;
  
}
.i-right .bar2{
  width: 5rem !important;
  min-height: 3rem !important;
  font-size: 10px;
  background-color: rgb(229, 255, 225);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  left: 78% !important;
  /* font-size: 12px; */
  z-index: 1000;
  top: 22% !important;
}
  
}